<script>
    import {onMount} from 'svelte'
	import Avatar from '$lib/components/avatar.svelte';
    import { cubicOut } from 'svelte/easing';
    import { tweened } from 'svelte/motion';

	import { player, toTavern, screen, enemy } from '$lib/store/store.js';
    import {SCREEN} from '$lib/store/constants'
    import Button from '$lib/components/button.svelte'

    const gold = tweened($player.gold, {
        duration: 1000,
        easing: cubicOut
    });

    onMount(()=>{
        setTimeout(()=>{
            $player.gold -= $enemy.gold;
            $gold -= $enemy.gold;
        }, 1000)
    })
</script>

<div class="battlefield">
    <div class="backdrop"></div>
    <div class="content">
        <div class="victory-screen" >
            <h1>Defeat</h1>
            <Avatar src={$player.avatar} />
            <div class="level">Gold: {Math.round($gold)}</div>
            <Button on:click={toTavern}>Tavern</Button>
            <Button on:click={()=>{$screen = SCREEN.SKILLS}}>Skills</Button>
        </div>
    </div>
	
</div>

<style>
    .level{
        color: white;
        margin: 8px 0 16px 0;
        font-size: 16px;
    }
	.victory-screen {
		text-align: center;
		padding: 20px;
	}

	h1 {
		color: white;
		font-size: 3em;
    }
	.battlefield {
		background-image: var(--background);
		background-position: center;
		background-size: cover;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        position: relative;
	}
    .backdrop{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
    }
    .content{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        
    }
</style>
