<script>
	import { screen, wait, battle } from '$lib/store/store.js';
	import Pass from '$lib/components/pass.svelte';
	import screens from '$lib/screen/index.js';
	let curScreen = $screen;
	let isPassVisible = false;
	screen.subscribe(async (state) => {
		isPassVisible = true;
		await wait(400);
		curScreen = state;
		await wait(400);
		isPassVisible = false;
	});
</script>

<main style={`--background: url(${$battle.arena});`}>
	<div class="wrapper">
		<div class="bgblur" />

		<svelte:component this={screens[curScreen]} />
		{#if isPassVisible}
			<Pass />
		{/if}
	</div>
</main>

<style>
	main {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	.bgblur {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: var(--background);
		background-position: center;
		background-size: cover;
		filter: blur(100px);
		z-index: -1;
	}
	.wrapper {
		max-width: 600px;
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	:global(body) {
		padding: 0;
		margin: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	:global(html) {
		overflow: hidden;
		overscroll-behavior: none;
	}
</style>
