<script>
	import { fade } from 'svelte/transition';
	import { player } from '$lib/store/store.js';
	import { gems } from '$lib/store/inventory.js';
	import Button from '$lib/components/button.svelte';
	export let item;

	function confirmPurchase() {
		if (item?.gold <= $player.gold) {
            
            
            $player.gold = $player.gold - $gems[item.id].gold 
            $gems[item.id].gold = 0;
			$player.gems = [item, ...$player.gems]
		}
		item = false;
	}

	function closePopup() {
		item = false;
	}
</script>

{#if item}
	<div class="modal active" transition:fade={{ duration: 200 }}>
		<div class="modal-content">
			<h2>Confirm Purchase</h2>
			<p>
				Are you sure you want to purchase the <strong>{item?.color}</strong> gem for the
				<strong>{item?.gold}</strong> gold?
			</p>
			<div class="item">
                <img class="gemImage" src={item.image} alt="gem" style={`border-color: ${item.color}`}/>
            </div>
			<p>You have: <strong>{$player.gold}</strong> gold</p>
			<Button on:click={confirmPurchase} disabled={item?.gold > $player.gold}>Confirm</Button>
			<Button on:click={closePopup}>Cancel</Button>
		</div>
	</div>
{/if}

<style>
	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 8px 8px 32px 8px;
	}
	.modal {
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.modal-content {
		background-color: #f0e6d6;
		max-width: 90%;
		padding: 20px;
		border: 1px solid #888;

		text-align: center;
		border-radius: 16px;
	}

	h2 {
		font-family: 'Merriweather Sans', sans-serif;
	}
    .gemImage {
		width: 32px;
		border-radius: 50%;
        border:2px solid red;
	}
</style>
