<script>
    export let draggingItem;
    export let screenX;
    export let screenY;
    export let handleStop;
    export let handleMouseMove;
</script>
{#if draggingItem}
	<div
		class="drag"
		style={`top: ${screenY - 45}px; left: ${screenX - 45}px;`}
		on:mouseup={handleStop}
		on:mousemove={handleMouseMove}
	>
		<div
			class="icon"
			style={`background-image: url(${draggingItem.icon}); border-color:${draggingItem.color}`}
		/>
	</div>
{/if}
<style>
    .drag {
		position: fixed;
		width: 90px;
		height: 90px;
		background-color: silver;
		z-index: 99;
		border-radius: 50%;
		/* overflow: hidden; */
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		-webkit-touch-callout: none;
	}
	.icon {
		width: 90px;
		height: 90px;
		background-position: center;
		background-size: contain;
		border: 4px solid red;
		box-sizing: border-box;
		border-radius: 50%;
	}
</style>