<script>
	import { gems } from '$lib/store/inventory.js';
	import GoldCost from './goldCost.svelte';
    import BuyGem from './buyGem.svelte'
    let selectedGem;
	$: sortedGems = Object.keys($gems)
		.map((key) => $gems[key])
		.sort((a, b) => (a.gold < b.gold ? 1 : -1));
	const effects = { cost: 'Cost', value: 'Power' };
    const selectGem = (target)=>{
        if(target.gold){
            selectedGem= target;
        }
    }
</script>

<div class="gems">
	{#each sortedGems as item}
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<div class="gem" class:pointer={item?.gold} on:click={()=>selectGem(item)}>
			<img class="gemImage" src={item.image} alt="gem" style={`border-color: ${item.color}`}/>
			<div class="effect">
				{effects[item.effect]}: {item.value > 0 ? '+' + item.value : item.value}
			</div>
			{#if item.gold}
				<GoldCost gold={item.gold} />
			{/if}
		</div>
	{/each}
</div>
<BuyGem bind:item={selectedGem}/>
<style>
    .pointer{
        cursor: pointer;
    }
	.effect {
		color: white;
		font-size: 10px;
		margin: 4px;
	}
	.gems {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		overflow-y: auto;
		flex-grow: 1;
	}
	.gem {
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.gemImage {
		width: 32px;
		border-radius: 50%;
        border:2px solid red;
	}
</style>
