<script>
	export let gold = 0;
    export let absolute = false;
</script>


<div class="gold" class:absolute>
	<img class="goldImage" src={'/images/icons/gold.webp'} alt="gold" />
	{gold}
</div>

<style>
    .absolute{
        position: absolute;
    }
	.gold {
		
		z-index: 1;
		color: rgba(0, 0, 0, 0.8);
		background-color: gold;
		padding: 4px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		font-size: 12px;
	}
	.goldImage {
		width: 20px;
		display: inline-block;
		border-radius: 50%;
		margin-right: 4px;
	}
</style>
