<script>
	import { skills } from '$lib/store/inventory.js';
	import { player, toTavern } from '$lib/store/store.js';

	import Button from '$lib/components/button.svelte';
	import BuySpell from './buySpell.svelte';
	import Spells from './spells.svelte';
	import DragItem from './dragItem.svelte';
	import Wrapper from './wrapper.svelte';
	import PlayerSkills from './playerSkills.svelte';
    import Tabs from './tabs.svelte'
    import Gems from './gems.svelte'

	$: sortedSkills = Object.keys($skills)
		.filter((key) => key !== 'manaRecovery')
		.map((key) => $skills[key])
		.sort((a, b) => (a.gold < b.gold ? 1 : -1));

    let activeTab = 'spells'
	let selectedToBuy;
	let screenX = 0;
	let screenY = 0;
	let draggingItem = null;
	let slots = ['left', 'up', 'right'];
	let slotsEl = [null, null, null];
	let activeSlots = [];
	const handleTouchStart = (e, item) => {
		if (item.gold) return;
		const coords = e.touches ? e.touches[0] : e;
		draggingItem = item;
		screenX = coords.pageX;
		screenY = coords.pageY;
	};
	const handleMouseMove = (e) => {
		if (draggingItem) {
			const coords = e.touches ? e.touches[0] : e;
			screenX = coords.pageX;
			screenY = coords.pageY;
			activeSlots = slotsEl.map((item, i) => {
				const { x, y, width, height } = item.getBoundingClientRect();
				return detectTouchEnd(x, y, coords.pageX, coords.pageY, width, height);
			});
		}
	};
	const handleStop = (e) => {
		const changeSpell = activeSlots.reduce((memo, item, i) => {
			return item ? i : memo;
		}, -1);

		if (changeSpell > -1 && !slots.find((item) => item.id === draggingItem.id)) {
			$player.skills[slots[changeSpell]] = draggingItem;
		}
		draggingItem = null;
		activeSlots = [];
	};

	function detectTouchEnd(x1, y1, x2, y2, w, h) {
		return x2 > x1 && x2 < x1 + w && y2 > y1 && y2 < y1 + h;
	}
	const buy = (item) => {
		selectedToBuy = item.gold ? item : false;
	};
</script>

<DragItem {draggingItem} {screenX} {screenY} {handleStop} {handleMouseMove} />
<Wrapper>
	<div class="container" on:touchmove={handleMouseMove} on:touchend={handleStop}>
		<div class="title">Inventory</div>
		<Tabs bind:activeTab={activeTab}/>
        {#if activeTab ==='spells'}
		<Spells {sortedSkills} {handleTouchStart} {buy} />
		<PlayerSkills {slotsEl} {slots} {activeSlots} />
        {:else }
            <Gems/>
        {/if}
		<div class="buttons"><Button on:click={toTavern}>Tavern</Button></div>
	</div>
</Wrapper>

<BuySpell bind:item={selectedToBuy} />

<style>
	.title {
		color: white;
		font-size: 24px;
		text-align: center;
	}
	.buttons {
		display: flex;
		justify-content: center;
	}

	.container {
		/* border: 1px solid black; */
		/* background-color: rgba(0, 0, 0, 0.7); */
		padding: 16px;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
	}
</style>
