<script>
    import { player } from '$lib/store/store.js';
    import Skill from '$lib/components/skill.svelte';
	import {playerGems} from '$lib/store/store.js'
    export let slotsEl;
    export let slots;
    export let activeSlots;
</script>
<div class="text">Your skills</div>
		<div class="activeSpeels">
			{#each slots as item, i (item)}
				<div class="slot" bind:this={slotsEl[i]} class:isOver={activeSlots[i]}>
					<Skill data={$player.skills[item]} effects={$playerGems}/>
				</div>
			{/each}
		</div>
<style>
    .isOver {
		background-color: rebeccapurple;
	}

	.activeSpeels {
		display: flex;
		justify-content: space-around;
		margin: 0 16px 16px 16px;
	}
	.slot {
		padding: 16px;
	}
    .text {
		color: white;
		text-align: center;
		font-size: 16px;
		margin-top: 16px;
	}
</style>