<script>
	import Skill from '$lib/components/skill.svelte';
	import GoldCost from './goldCost.svelte';
	import {playerGems} from '$lib/store/store.js'
	export let sortedSkills = [];
	export let handleTouchStart;
	export let buy;
</script>

<div class="spells">
	{#each sortedSkills as item}
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<div
			class="spell"
			on:mousedown={(e) => handleTouchStart(e, item)}
			on:touchstart={(e) => handleTouchStart(e, item)}
			on:click={() => buy(item)}
			class:buy={item.gold}
		>
			<div><Skill data={item} effects={$playerGems}/></div>
			<div class="name">{item.name}</div>
			{#if item.gold}
				<GoldCost gold={item.gold} absolute/>
			{/if}
		</div>
	{/each}
</div>

<style>
	.buy {
		cursor: pointer;
	}

	.spells {
		display: flex;
		flex-wrap: wrap;
	}
	.spell {
		/* margin: 16px; */
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 25%;
		margin-bottom: 8px;
		position: relative;
	}
	.name {
		color: white;
		margin-top: 16px;
		font-size: 10px;
	}
</style>
