<script>
    export let activeTab;
</script>
<div class="tabs">
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <div class="tab" class:active={activeTab==='spells'} on:click={()=>activeTab='spells'}>Spells</div>
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <div class="tab" class:active={activeTab==='gems'} on:click={()=>activeTab='gems'}>Gems</div>
</div>
<style>
    .tabs{
        display: flex;
        align-items: center;
        color: white;
    }
    .tab{
        width: 50%;
        text-align: center;
        padding: 8px;
        margin-bottom: 8px;
        font-size: 24px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }
    .active{
        border-bottom: 2px solid white;
    }
</style>