<div class="battlefield">
	<div class="backdrop" />
	<div class="content">
		<slot />
	</div>
</div>

<style>
	.battlefield {
		background-image: var(--background);
		background-position: center;
		background-size: cover;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	}
	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
</style>
