<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
  let animationFrame;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(500, 1, 0.1, 1000);
		camera.position.z = 5;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		const geometry = new THREE.SphereGeometry(1, 32, 32);
		const material = new THREE.MeshBasicMaterial({
			color: 0x800080,
			transparent: true,
			opacity: 0.5
		});

		const wireframeMaterial = new THREE.MeshBasicMaterial({ wireframe: true, color: 0xffffff });

		const sphere = new THREE.Mesh(geometry, material);
		const wireframe = new THREE.Mesh(geometry, wireframeMaterial);
		scene.add(sphere);
		scene.add(wireframe);

		function animate() {
			animationFrame = requestAnimationFrame(animate);

			if (sphere.scale.x < 10) {
				sphere.scale.x += 0.02 * sphere.scale.x;
				sphere.scale.y += 0.02 * sphere.scale.y;
				sphere.scale.z += 0.02 * sphere.scale.z;
				material.opacity -= 0.01;
				wireframe.scale.copy(sphere.scale);
			} else {
				sphere.scale.set(1, 1, 1);
				material.opacity = 0.5;
			}

			renderer.render(scene, camera);
		}

		animate();
	});
  onDestroy(()=>{
    cancelAnimationFrame(animationFrame)
  })
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
