<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';
	import { UnrealBloomPass } from 'three/examples/jsm/postprocessing/UnrealBloomPass.js';
	import { RenderPass } from 'three/examples/jsm/postprocessing/RenderPass.js';
	import { EffectComposer } from 'three/examples/jsm/postprocessing/EffectComposer.js';

	let canvas;
	let animationFrame;
	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		camera.position.z = 1;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);

		const geometry = new THREE.SphereGeometry(0.5, 8, 8);
		const material = new THREE.MeshBasicMaterial({
			color: 0x8a2be2,
			wireframe: true
		});

		const mesh = new THREE.Mesh(geometry, material);
		scene.add(mesh);

		const pointLight = new THREE.PointLight(0xffffff, 1);
		scene.add(pointLight);

		const composer = new EffectComposer(renderer);

		// Add render pass (renders the scene onto the screen)
		const renderPass = new RenderPass(scene, camera);
		composer.addPass(renderPass);

		// Add unreal bloom pass
		const bloomPass = new UnrealBloomPass(new THREE.Vector2(120, 120), 1.5, 0.4, 0.85);
		bloomPass.threshold = 0;
		bloomPass.strength = 3.5;
		bloomPass.radius = 1;
		composer.addPass(bloomPass);

		function animate() {
			animationFrame = requestAnimationFrame(animate);

			mesh.rotation.x += 0.01;
			mesh.rotation.y += 0.02;

			pointLight.position.set(
				Math.sin(Date.now() * 0.001) * 0.75,
				Math.cos(Date.now() * 0.001) * 0.75,
				Math.sin(Date.now() * 0.001) * 0.75
			);

			composer.render(); // Use composer.render instead of renderer.render
		}
		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
		opacity: 0.8;
	}
</style>
