<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(500, 1, 0.1, 1000);
		camera.position.z = 5;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		const particleCount = 500;
		const particlePositions = new Float32Array(particleCount * 3); // 3 coordinates per particle

		// Initialize particle positions to random values
		for (let i = 0; i < particleCount * 3; i++) {
			particlePositions[i] = (Math.random() - 0.5) * 10; // Initial positions spread between -5 and 5
		}

		const particles = new THREE.BufferGeometry();
		particles.setAttribute('position', new THREE.BufferAttribute(particlePositions, 3));

		const particleMaterial = new THREE.PointsMaterial({
			color: 0x9933ff, // Magical purple
			size: 0.1,
			transparent: true,
			blending: THREE.AdditiveBlending
		});

		const particleSystem = new THREE.Points(particles, particleMaterial);
		scene.add(particleSystem);

		const animate = function () {
			animationFrame = requestAnimationFrame(animate);

			const positions = particleSystem.geometry.attributes.position.array;

			for (let i = 0; i < particleCount; i++) {
				positions[i * 3] += (Math.random() - 0.5) * 0.1; // X
				positions[i * 3 + 1] += (Math.random() - 0.5) * 0.1; // Y
				positions[i * 3 + 2] += (Math.random() - 0.5) * 0.1; // Z

				// Create a spiraling effect
				const spiralSpeed = 0.05;
				const oldX = positions[i * 3];
				positions[i * 3] =
					positions[i * 3] * Math.cos(spiralSpeed) - positions[i * 3 + 2] * Math.sin(spiralSpeed);
				positions[i * 3 + 2] =
					oldX * Math.sin(spiralSpeed) + positions[i * 3 + 2] * Math.cos(spiralSpeed);
			}

			particleSystem.geometry.attributes.position.needsUpdate = true;
			renderer.render(scene, camera);
		};

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
