<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let camera, scene, renderer;
	let particles;
	let animationFrame;

	onMount(() => {
		init();
		animate();
	});

	function init() {
		// Camera setup
		camera = new THREE.PerspectiveCamera(70, 1, 0.01, 10);
		camera.position.z = 2;

		// Scene setup
		scene = new THREE.Scene();

		// Particles setup
		const particlesGeometry = new THREE.BufferGeometry();
		const vertices = [];

		for (let i = 0; i < 1000; i++) {
			vertices.push(Math.random() * 2 - 1, Math.random() * 2 - 1, Math.random() * 2 - 1);
		}

		particlesGeometry.setAttribute('position', new THREE.Float32BufferAttribute(vertices, 3));
		particlesGeometry.setAttribute(
			'velocity',
			new THREE.Float32BufferAttribute(new Float32Array(1000).fill(0.01), 1)
		);

		const particlesMaterial = new THREE.PointsMaterial({ color: 'red', size: 0.02 });
		particles = new THREE.Points(particlesGeometry, particlesMaterial);
		scene.add(particles);

		// Renderer setup
		renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);
		renderer.setPixelRatio(window.devicePixelRatio);

		// Orbit Controls
	}

	function animate() {
		animationFrame = requestAnimationFrame(animate);

		const positions = particles.geometry.attributes.position;
		const velocities = particles.geometry.attributes.velocity;

		for (let i = 0; i < positions.count; i++) {
			positions.setY(i, positions.getY(i) - velocities.getX(i));

			if (positions.getY(i) < -1) {
				positions.setY(i, 1);
			}
		}

		positions.needsUpdate = true;

		renderer.render(scene, camera);
	}
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
