<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';
	import { GlitchPass } from 'three/examples/jsm/postprocessing/GlitchPass.js';
	import { RenderPass } from 'three/examples/jsm/postprocessing/RenderPass.js';
	import { EffectComposer } from 'three/examples/jsm/postprocessing/EffectComposer.js';

	let canvas;
	let animationFrame;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		camera.position.z = 2;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);

		const geometry = new THREE.SphereGeometry(1, 10, 10);
		const material = new THREE.MeshBasicMaterial({ color: 0xffffff, wireframe: true });
		const sphere = new THREE.Mesh(geometry, material);
		scene.add(sphere);

		const renderPass = new RenderPass(scene, camera);
		const glitchPass = new GlitchPass(6);

		const composer = new EffectComposer(renderer);
		composer.addPass(renderPass);
		composer.addPass(glitchPass);

		function animate() {
			animationFrame = requestAnimationFrame(animate);
			sphere.rotation.y += 0.01;
			composer.render();
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
