<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;
	let particles;
	let scene, camera, renderer;
	let clock = new THREE.Clock();
	

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		camera.position.z = 1;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		let shaderMaterial = new THREE.ShaderMaterial({
            uniforms: {
                iTime: { value: 0 },
                iResolution:  { value: new THREE.Vector3() }
            },
            vertexShader: `
                varying vec2 vUv;

                void main() {
                    vUv = uv;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
                }
            `,
            fragmentShader: `
                uniform float iTime;
                uniform vec3 iResolution;
                varying vec2 vUv;

                float snoise(vec3 uv, float res)
                {
                    const vec3 s = vec3(1e0, 1e2, 1e3);
                    
                    uv *= res;
                    
                    vec3 uv0 = floor(mod(uv, res))*s;
                    vec3 uv1 = floor(mod(uv+vec3(1.), res))*s;
                    
                    vec3 f = fract(uv); f = f*f*(3.0-2.0*f);

                    vec4 v = vec4(uv0.x+uv0.y+uv0.z, uv1.x+uv0.y+uv0.z,
                                  uv0.x+uv1.y+uv0.z, uv1.x+uv1.y+uv0.z);

                    vec4 r = fract(sin(v*1e-1)*1e3);
                    float r0 = mix(mix(r.x, r.y, f.x), mix(r.z, r.w, f.x), f.y);
                    
                    r = fract(sin((v + uv1.z - uv0.z)*1e-1)*1e3);
                    float r1 = mix(mix(r.x, r.y, f.x), mix(r.z, r.w, f.x), f.y);
                    
                    return mix(r0, r1, f.z)*2.-1.;
                }

                void main() {
                    vec2 p = -.5 + vUv;
                    p.x *= iResolution.x / iResolution.y;
                    
                    float color = 3.0 - (3.0 * length(2.0 * p));
                    
                    vec3 coord = vec3(atan(p.x, p.y) / 6.2832 + .5, length(p) * .4, .5);
                    
                    for(int i = 1; i <= 7; i++)
                    {
                        float power = pow(2.0, float(i));
                        color += (1.5 / power) * snoise(coord + vec3(0., -iTime * .05, iTime * .01), power * 16.);
                    }
                    gl_FragColor = vec4( color, pow(max(color, 0.), 2.) * 0.4, pow(max(color, 0.), 3.) * 0.15 , 1.0);
                }
            `
        });

        // Create a mesh with a plane geometry and the shader material
        let mesh = new THREE.Mesh(new THREE.PlaneGeometry(2, 2), shaderMaterial);
        scene.add(mesh);

		function animate(time) {
			shaderMaterial.uniforms.iTime.value = time * 0.001; // update iTime uniform
            shaderMaterial.uniforms.iResolution.value.set(120, 120, 1); // update iResolution uniform
            
			renderer.render(scene, camera);
			animationFrame = requestAnimationFrame(animate);
		}

		animate(0);
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
        opacity: 0.8;
	}
</style>
