<script>
	import { onMount, onDestroy } from 'svelte';
	import { EffectComposer } from 'three/examples/jsm/postprocessing/EffectComposer.js';
	import { RenderPass } from 'three/examples/jsm/postprocessing/RenderPass.js';
	import { UnrealBloomPass } from 'three/examples/jsm/postprocessing/UnrealBloomPass.js';

	import * as THREE from 'three';

	let canvas;
	let animationFrame;
	onMount(() => {
		// Create scene, camera and renderer
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		const renderer = new THREE.WebGLRenderer({ canvas, antialias: true, alpha: true });

		renderer.setSize(120, 120);

		// Add some light
		//     const light = new THREE.PointLight(0xFFFFFF, 1, 1000)
		//     light.position.set(0,0,0);
		//     scene.add(light);

		// Create particles
		const particles = new THREE.BufferGeometry();
		const vertices = [];

		for (let i = 0; i < 1000; i++) {
			const x = THREE.MathUtils.randFloatSpread(20);
			const y = THREE.MathUtils.randFloatSpread(20);
			const z = THREE.MathUtils.randFloatSpread(20);
			vertices.push(x, y, z);
		}

		particles.setAttribute('position', new THREE.Float32BufferAttribute(vertices, 3));

		const particleMaterial = new THREE.PointsMaterial({ color: 0x00ff00, size: 0.2 });

		const particleSystem = new THREE.Points(particles, particleMaterial);
		scene.add(particleSystem);

		// Position camera
		camera.position.z = 5;
		const composer = new EffectComposer(renderer);

		// Add render pass (renders the scene onto the screen)
		const renderPass = new RenderPass(scene, camera);
		composer.addPass(renderPass);

		// Add unreal bloom pass
		const bloomPass = new UnrealBloomPass(new THREE.Vector2(120, 120), 1.5, 0.4, 0.85);
		bloomPass.threshold = 0;
		bloomPass.strength = 3.5;
		bloomPass.radius = 1;
		composer.addPass(bloomPass);

		// Animation
		const animate = () => {
			animationFrame = requestAnimationFrame(animate);

			particleSystem.rotation.x += 0.02;

			composer.render(); // Use composer.render instead of renderer.render
		};

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
		opacity: 0.3;
	}
</style>
