<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(500, 1, 0.1, 1000);
		camera.position.z = 2;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);

		const geometry = new THREE.BufferGeometry();
		const vertices = [];

		for (let i = 0; i < 2000; i++) {
			vertices.push((Math.random() - 0.5) * 10);
			vertices.push((Math.random() - 0.5) * 10);
			vertices.push((Math.random() - 0.5) * 10);
		}

		geometry.setAttribute('position', new THREE.Float32BufferAttribute(vertices, 3));

		const uniforms = {
			time: { value: 1.0 },
			resolution: { value: new THREE.Vector2() }
		};

		const material = new THREE.ShaderMaterial({
			uniforms: uniforms,
			vertexShader: `
            varying vec3 vUv; 

            void main() {
                vUv = position; 

                vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
                gl_PointSize = 3.0 * (1.0 / - mvPosition.z);
                gl_Position = projectionMatrix * mvPosition;
            }
        `,
			fragmentShader: `
            uniform float time;
            varying vec3 vUv;
            
            void main() {
                float dist = length(vUv);
                vec4 color = vec4(cos(time + vUv.x), sin(time + vUv.y), -sin(time + vUv.z), 5);
                gl_FragColor = color;
            }
        `
		});

		const points = new THREE.Points(geometry, material);
		scene.add(points);

		function animate() {
			animationFrame = requestAnimationFrame(animate);
			points.rotation.x += 0.04;
			points.rotation.y += 0.06;
			uniforms.time.value += 0.7;
			renderer.render(scene, camera);
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
