<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;
    let particles;
	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(500, 1, 0.1, 1000);
		camera.position.z = 5;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		let particleGeometry = new THREE.BufferGeometry();
		let particleCount = 500;
		let posArray = new Float32Array(particleCount * 3);

		for (let i = 0; i < particleCount * 3; i++) {
			posArray[i] = (Math.random() - 0.5) * 5;
		}

		particleGeometry.setAttribute('position', new THREE.BufferAttribute(posArray, 3));
		let particleMaterial = new THREE.PointsMaterial({
			size: 0.05,
			color: 'lightblue'
		});

		particles = new THREE.Points(particleGeometry, particleMaterial);
		scene.add(particles);
		function animate() {
			particles.rotation.x += 0.01;
			particles.rotation.y += 0.01;
			particles.rotation.z += 0.05;
			particles.position.z += 0.05;

			renderer.render(scene, camera);
			animationFrame = requestAnimationFrame(animate);
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
