<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';
	import { EffectComposer } from 'three/examples/jsm/postprocessing/EffectComposer.js';
	import { RenderPass } from 'three/examples/jsm/postprocessing/RenderPass.js';
	import { UnrealBloomPass } from 'three/examples/jsm/postprocessing/UnrealBloomPass.js';

	let canvas;
	let particleSystem;
	let animationFrame;
	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(500, 1, 0.1, 1000);
		camera.position.z = 5;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		let particleGeometry = new THREE.BufferGeometry();
		let particleCount = 2000;
		let posArray = new Float32Array(particleCount * 3);

		for (let i = 0; i < particleCount * 3; i++) {
			// Filling the position array
			posArray[i] = (Math.random() - 0.5) * 10;
		}
		particleGeometry.setAttribute('position', new THREE.BufferAttribute(posArray, 3));
		let particleMaterial = new THREE.PointsMaterial({
			size: 0.03,
			color: '#4166f5'
		});
		particleSystem = new THREE.Points(particleGeometry, particleMaterial);
		scene.add(particleSystem);
		const composer = new EffectComposer(renderer);

		// Add render pass (renders the scene onto the screen)
		const renderPass = new RenderPass(scene, camera);
		composer.addPass(renderPass);

		// Add unreal bloom pass
		const bloomPass = new UnrealBloomPass(new THREE.Vector2(120, 120), 1.5, 0.4, 0.85);
		bloomPass.threshold = 0;
		bloomPass.strength = 3.5;
		bloomPass.radius = 1;
		composer.addPass(bloomPass);

		function animate() {
			animationFrame = requestAnimationFrame(animate);

			particleSystem.rotation.y += 0.03;
			particleSystem.rotation.z += 0.05;
			particleSystem.rotation.x += 0.07;

			composer.render(); // Use composer.render instead of renderer.render
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
		opacity: 0.5;
	}
</style>
