<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;

	onMount(() => {
		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		const scene = new THREE.Scene();

		camera.position.z = 1.5;

		const shieldGeometry = new THREE.SphereGeometry(1, 32, 32);
		const shieldMaterial = new THREE.MeshBasicMaterial({ color: 0x0080ff, wireframe: true });
		const shield = new THREE.Mesh(shieldGeometry, shieldMaterial);
		scene.add(shield);

		const innerSphereGeometry = new THREE.SphereGeometry(0.6, 8, 8);
		const innerSphereMaterial = new THREE.MeshBasicMaterial({ color: 0xfffff, wireframe: true });
		const innerSphere = new THREE.Mesh(innerSphereGeometry, innerSphereMaterial);
		scene.add(innerSphere);

		function animate() {
			animationFrame = requestAnimationFrame(animate);

			shield.rotation.y += 0.05;
			shield.rotation.x += 0.03;
            innerSphere.rotation.y += 0.02;

			renderer.render(scene, camera);
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
