<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);

		let particleGeometry = new THREE.SphereGeometry(1, 32, 100);
		let particleMaterial = new THREE.MeshBasicMaterial({
			color: 0xff4500,
			side: THREE.DoubleSide
		});

		let particleSystem = new THREE.Points(particleGeometry, particleMaterial);
		scene.add(particleSystem);

		// Position the camera
		camera.position.z = 1;

		// Animation loop
		let animate = function () {
			animationFrame = requestAnimationFrame(animate);

			// Update particles here for the animation

			particleSystem.rotation.y += 0.03;

			renderer.render(scene, camera);
		};

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
