<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;
	let particles;
	let scene, camera, renderer;
	let clock = new THREE.Clock();
	const fragShader = `
uniform vec2 resolution;
uniform float time;

void main() {
    float aspect_ratio = resolution.y / resolution.x;
    vec2 uv = gl_FragCoord.xy / resolution.x;
    uv -= vec2(0.5, 0.5 * aspect_ratio);
    float rot = radians(-30.0 - time);
    mat2 rotation_matrix = mat2(cos(rot), -sin(rot), sin(rot), cos(rot));
    uv = rotation_matrix * uv;
    vec2 scaled_uv = 20.0 * uv; 
    vec2 tile = fract(scaled_uv);
    float tile_dist = min(min(tile.x, 1.0 - tile.x), min(tile.y, 1.0 - tile.y));
    float square_dist = length(floor(scaled_uv));
    
    float edge = sin(time - square_dist * 20.);
    edge = mod(edge * edge, edge / edge);

    float value = mix(tile_dist, 1.0 - tile_dist, step(1.0, edge));
    edge = pow(abs(1.0 - edge), 2.2) * 0.5;
    
    value = smoothstep(edge - 0.05, edge, 0.95 * value);
    
    value += square_dist * 0.1;
    value *= 0.8 - 0.2;
    gl_FragColor = vec4(pow(value, 2.), pow(value, 1.5), pow(value, 1.2), 1.);
}`;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		camera.position.z = 1;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		const material = new THREE.ShaderMaterial({
			uniforms: {
				resolution: { value: new THREE.Vector2(120, 120) },
				time: { value: 0.0 }
			},
			fragmentShader: fragShader
		});

		// create the geometry and mesh
		const geometry = new THREE.PlaneGeometry(2, 2);
		const mesh = new THREE.Mesh(geometry, material);
		scene.add(mesh);

		function animate() {
            material.uniforms.time.value = clock.getElapsedTime();
			renderer.render(scene, camera);
			animationFrame = requestAnimationFrame(animate);
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
        opacity: 0.4;
	}
</style>
