<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;
	let particles;
	let scene, camera, renderer;
	let clock = new THREE.Clock();
	const fragShader = `
uniform vec2 resolution;
uniform float time;

vec3 palette( float t ) {
    vec3 a = vec3(0.388, 0.508, 0.500);
    vec3 b = vec3(-0.392, 0.488, 0.428);
    vec3 c = vec3(1.000, 1.000, 1.000);
    vec3 d = vec3(1.000, 1.328, 1.268);
    
    return a + b * cos( 6.28318 * (c * t * d));
}

void main() {
    vec2 uv = (gl_FragCoord.xy * 2.0 - resolution) / resolution.y;
    vec2 uv0 = uv;
    vec3 finalColor = vec3(0.0);

    for ( float i = 0.0; i < 7.0; i += 1.0 ) {
        uv = fract(uv * (0.5 + i / 3.0)) - 0.5;

        float d = length(uv) * exp(-length(uv0));

        vec3 col = palette(length(uv0) + (time / 15.0 * i));

        d = sin(d * 8. + sin(time / (1.0 + i)) + time)/8.;
        d = abs(d);
        d = pow(0.01 / d, 1.5);

        col *= d;
    
        finalColor += col;
    }
    
    gl_FragColor = vec4(finalColor, 1.0);
}`;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		camera.position.z = 1;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		const material = new THREE.ShaderMaterial({
			uniforms: {
				resolution: { value: new THREE.Vector2(120, 120) },
				time: { value: 0.0 }
			},
			fragmentShader: fragShader
		});

		// Create the geometry and mesh
		const geometry = new THREE.PlaneGeometry(2, 2);
		const mesh = new THREE.Mesh(geometry, material);
		scene.add(mesh);

		function animate() {
			material.uniforms.time.value = clock.getElapsedTime();
			renderer.render(scene, camera);
			animationFrame = requestAnimationFrame(animate);
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
        opacity: 0.8;
	}
</style>
