<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;
	let particles;
	const trailLength = 50;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);

		particles = new Array(100).fill().map(() => {
			const particle = {
				position: new THREE.Vector3(
					Math.random() * 2 - 1,
					Math.random() * 2 - 1,
					Math.random() * 2 - 1
				)
					.normalize()
					.multiplyScalar(Math.random() * 500),
				velocity: new THREE.Vector3(
					Math.random() * 2 - 1,
					Math.random() * 2 - 1,
					Math.random() * 2 - 1
				),
				trailVertices: new Float32Array(trailLength * 3) // 3 vertices per point
			};
			// Create line geometry for each particle
			particle.trailGeometry = new THREE.BufferGeometry();
			particle.trailGeometry.setAttribute(
				'position',
				new THREE.BufferAttribute(particle.trailVertices, 3)
			);
			particle.trail = new THREE.Line(
				particle.trailGeometry,
				new THREE.LineBasicMaterial({ color: 0xff4500 })
			);
			scene.add(particle.trail);
			return particle;
		});

		camera.position.z = 100;
		

		let animate = function () {
			animationFrame = requestAnimationFrame(animate);

			particles.forEach((particle) => {
				particle.position.add(particle.velocity);
				// If particle is too far, pull it back
				if (particle.position.length() > 200) {
					particle.velocity.negate();
				}
				// Add current position to trail geometry
				particle.trailVertices.copyWithin(1, 0); // shift all data one position to the right
				particle.position.toArray(particle.trailVertices, 0); // add current position at the beginning
				particle.trailGeometry.attributes.position.needsUpdate = true;
			});

			renderer.render(scene, camera);
		};

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
