<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;
	let clock = new THREE.Clock();
	const fragShader = `
uniform vec2 resolution;
uniform float time;

void main() {
	float s = 0.0, v = 0.0;
	vec2 uv = (gl_FragCoord.xy / resolution) * 2.0 - 1.0;
    float _time = (time-2.0)*58.0;
	vec3 col = vec3(0.0);
    vec3 init = vec3(sin(_time * .0032)*.3, .35 - cos(_time * .005)*.3, _time * 0.002);
	for (int r = 0; r < 100; r++) 
	{
		vec3 p = init + s * vec3(uv, 0.05);
		p.z = fract(p.z);
		for (int i=0; i < 10; i++)	p = abs(p * 2.04) / dot(p, p) - .9;
		v += pow(dot(p, p), .7) * .06;
		col +=  vec3(v * 0.2+.4, 12.-s*2., .1 + v * 1.) * v * 0.00003;
		s += .025;
	}
	gl_FragColor = vec4(clamp(col, 0.0, 1.0), 1.0);
}`;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);
		camera.position.z = 1;

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, antialias: true, alpha: true });
		renderer.setSize(120, 120);

		const material = new THREE.ShaderMaterial({
			uniforms: {
				resolution: { value: new THREE.Vector2(120, 120) },
				time: { value: 0.0 }
			},
			fragmentShader: fragShader
		});

		// Create the geometry and mesh
		const geometry = new THREE.PlaneGeometry(2, 2);
		const mesh = new THREE.Mesh(geometry, material);
		scene.add(mesh);

		function animate() {
			material.uniforms.time.value = clock.getElapsedTime();
			renderer.render(scene, camera);
			animationFrame = requestAnimationFrame(animate);
		}

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
		opacity: 0.8;
	}
</style>
