<script>
	import { onMount, onDestroy } from 'svelte';
	import * as THREE from 'three';

	let canvas;
	let animationFrame;

	onMount(() => {
		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(75, 1, 0.1, 1000);

		const renderer = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
		renderer.setSize(120, 120);

		camera.position.z = 5;

		// Create a geometry and material for the vortex
		let geometry = new THREE.TorusGeometry(1, 0.3, 16, 50);
		let material = new THREE.MeshBasicMaterial({ color: 0x0000ff, wireframe: true });

		// Create the vortex and add it to the scene
		let vortex = new THREE.Mesh(geometry, material);
		scene.add(vortex);
		let animate = function () {
			animationFrame = requestAnimationFrame(animate);

			// Update particles here for the animation

			vortex.rotation.x += 0.05;
			vortex.rotation.y += 0.03;
			vortex.rotation.z += 0.05;
			vortex.scale.y += 0.1;
			vortex.scale.x += 0.1;
			vortex.scale.z -= 0.5;

			renderer.render(scene, camera);
		};

		animate();
	});
	onDestroy(() => {
		cancelAnimationFrame(animationFrame);
	});
</script>

<canvas bind:this={canvas} />

<style>
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		background: transparent;
		border-radius: 50%;
	}
</style>
