<script>
	import Button from '$lib/components/button.svelte';
	import { nextEmeny, screen, player } from '$lib/store/store.js';
	import { skills, gems } from '$lib/store/initialData.js';
	import { SCREEN } from '$lib/store/constants.js';

	const enemies = Array(3)
		.fill(1)
		.map(() => {
			const gold = Math.floor(Math.random() * $player.gold + 1);
			const rndLevel = Math.ceil(gold / 100);
			const maxLevel = rndLevel > 5 ? 5 : rndLevel;
			const level = Math.floor(Math.random() * maxLevel + 1);
			const skillArr = Object.keys(skills)
				.slice(0, -1)
				.filter((key) => {
					return (
						(skills[key].level <= level && skills[key].level >= level - 1) ||
						skills[key].id === 'Heal'
					);
				});
			const enemySpells = Array(3)
				.fill(1)
				.reduce((memo, i) => {
					const filtredSkillArr = skillArr.filter((item) => {
						return !memo[item];
					});
					const selectedSpell = filtredSkillArr[Math.floor(Math.random() * filtredSkillArr.length)];
					return { [selectedSpell]: true, ...memo };
				}, {});
			const gemsArray = Object.keys(gems).map(key=>gems[key])
			const enemyGems = Array(Math.floor(Math.random() * (maxLevel + 3) + 1)).fill(1).map(()=>{
				return gemsArray[Math.floor(Math.random()*gemsArray.length)];
			})

			return {
				avatar: `/images/avatar/${Math.floor(Math.random() * 138) + 1}.webp`,
				level,
				gold,
				gems: enemyGems,
				skills: {
					up: skills[Object.keys(enemySpells)[0]],
					left: skills[Object.keys(enemySpells)[1]],
					right: skills[Object.keys(enemySpells)[2]],
					down: skills.manaRecovery
				}
			};
		});

	let selectedEmeny = null;
	const toBattle = () => {
		if (nextEmeny) {
			nextEmeny(enemies[selectedEmeny]);
		}
	};
</script>

<div class="battlefield">
	<div class="backdrop" />
	<div class="content">
		<div class="title">Сhoose an opponent</div>
		<div class="enemies">
			{#each enemies as item, i}
				<!-- svelte-ignore a11y-click-events-have-key-events -->
				<div
					class="avatar"
					on:click={() => (selectedEmeny = i)}
					class:selected={selectedEmeny === i}
				>
					<img src={item.avatar} alt="enemy" class="avatarImage" />

					<div class="skulls">
						{#each Array(item.level).fill(1) as skull}
							<div class="skull"><img src={'/images/icons/skull.webp'} alt="skull" /></div>
						{/each}
					</div>
					<div class="gold">
						<img src={'/images/icons/gold.webp'} alt="gold" />
						<div class="cost">{item.gold}</div>
					</div>
				</div>
			{/each}
		</div>
		<div class="playerGold">
			<img src={'/images/icons/gold.webp'} alt="gold" />
			<div>{$player.gold}</div>
		</div>
		<div class="buttons">
			<Button
				on:click={() => {
					$screen = SCREEN.SKILLS;
				}}>Skills</Button
			><Button on:click={toBattle} disabled={selectedEmeny===null}>Battle!</Button>
		</div>
	</div>
</div>

<style>
	.playerGold {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 24px;
	}
	.playerGold img {
		width: 40px;
		display: block;
		border: 1px solid gold;
		border-radius: 50%;
		margin-right: 8px;
	}
	.buttons {
		padding: 16px;
		margin-bottom: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.enemies {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	.avatar {
		position: relative;
		margin: 16px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 300ms;
	}
	.avatar img {
		width: 100px;
		border-radius: 50%;
		transition: box-shadow 300ms;
	}
	.gold {
		display: flex;
		align-items: center;
	}
	.gold img {
		width: 20px;
		display: block;
		border: 1px solid gold;
		border-radius: 50%;
		margin-right: 8px;
	}

	.skulls {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 4px;
	}
	.skull img {
		width: 20px;
	}
	.battlefield {
		background-image: var(--background);
		background-position: center;
		background-size: cover;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	}
	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.cost {
		color: white;
	}
	.title {
		margin-top: 32px;
		font-size: 3em;
		text-align: center;
		color: white;
	}
	.selected {
		transform: scale(1.2);
	}
	.selected .avatarImage {
		box-shadow: 0px 0px 15px white;
	}
</style>
