<script>
	import { onMount } from 'svelte';
	import spells from '$lib/spell/index.js';
	import { skills } from '$lib/store/initialData.js';
	import Skill from '$lib/components/skill.svelte';
	let mounted = false;
	onMount(() => {
		mounted = true;
	});
</script>

{#if mounted}
	{#each Object.keys(skills) as key}
		<div class="spell">
			<div><Skill data={skills[key]} /></div>
			<div>
				{#each Object.keys(skills[key]) as prop}
					<div>{prop} : {skills[key][prop]}</div>
				{/each}
			</div>
			<div class="animation">
				<svelte:component this={spells[skills[key].id]} />
			</div>
		</div>
	{/each}
{/if}

<style>
	div {
		padding: 4px;
	}
	.spell {
		display: flex;
		border: 1px solid rgba(0, 0, 0, 05);
		background-color: silver;
	}
	.animation {
		position: relative;
		background-color: rgb(33, 32, 32);
		width: 120px;
		height: 120px;
	}
</style>
