<script>
    export let src;
</script>
<img class="avatar" src={src} alt="Player Avatar" />

<style>
    .avatar {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
	}
</style>