<script>
    export let value = 0;
    export let type = 'mana';
</script>
<div class="bar">
    <div class={`progress ${type} animatedBar`} style={`width:  ${value}%;`} />
    <div class="value">{value}</div>
</div>

<style>
    .bar {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 10px;
		height: 20px;
		position: relative;
		margin-bottom: 10px;
		width: 100%;
		overflow: hidden;
		text-align: center;
		position: relative;
	}
	.progress {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 10px;
	}
	.health {
		background: #8b0000;
	}
	.mana {
		background: rgb(11, 82, 246);
	}
    .exp {
		background: rgb(227, 213, 17);
	}
    .animatedBar {
		transition: width 0.5s ease-in-out;
	}
	.value {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0 auto;
		color: white;
	}
</style>