<script>
    export let disabled = false;
</script>

<button on:click class="button" {disabled}>
	<slot />
</button>

<style>
	.button {
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 12px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
		background-color: #6b4226;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
	}

	.button:hover {
		background-color: #482c14;
		box-shadow: none;
	}

	.button:hover:after {
		opacity: 1;
		right: 30px;
	}
    .button:disabled{
        background-color: silver;
    }
</style>
