<script>
	export let data = '';
	export let effects = {};
	$: costEffect = effects[data.color]?.cost || 0;
	$: valueEffect = effects[data.color]?.value || 0;
	// const costEffect = data.cost + (effects[data.color]?.cost || 0) < 0 ? 0 : data.cost + (effects[data.color]?.cost || 0)
	// 	const valueEffect = data.value + (effects[targetSkill.color]?.value || 0 )
	
</script>

<div class={`skill ${data.class}`}>
	<div class="skillWrapper">
		<img
			src={data.icon}
			class="icon"
			alt={data.name}
			style={`border-color: ${data.color}`}
			unselectable="on"
		/>
	</div>
	<div class="cost info">{data.cost + costEffect < 0 ? 0 : data.cost + costEffect}</div>
	<div
		class="damage info"
		class:blackText={data.color === 'white'}
		style={`background-color: ${data.color}`}
	>
		{data.value + valueEffect}
	</div>
</div>

<style>
	.skillWrapper {
		border-radius: 50%;
		overflow: hidden;
	}
	.skill {
		min-width: 40px;
		min-height: 40px;
		max-width: 40px;
		max-height: 40px;
		border-radius: 50%;

		background-color: sienna;
		position: relative;
		user-select: none;
		-webkit-user-select: none;
	}
	.icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		border: 2px solid red;
		user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		-webkit-touch-callout: none;
	}
	.info {
		position: absolute;
		color: white;
		border-radius: 50%;
		font-size: 10px;
		width: 20px;
		height: 20px;
		min-width: 20px;
		max-width: 20px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.7;
	}
	.cost {
		bottom: -10px;
		left: -10px;
		background-color: #4166f5;
	}
	.damage {
		bottom: -10px;
		right: -10px;
		background-color: silver;
	}
	.blackText {
		color: black;
	}
</style>
