<script>
	import Skill from '$lib/components/skill.svelte';
	import Bar from '$lib/components/bar.svelte';
	export let data = {};
	export let effects;
</script>

<div class={`container ${$data.type}`}>
	<div class="nameLine">
		<div class="crystal">
			{#each $data.gems as item}
				<img src={item.image} alt="crystal" class="crystalIcon" style={`border-color: ${item.color}`}/>
			{/each}
		</div>
		<!-- <div class="name">{$data.name}</div> -->
	</div>

	<div class="bars">
		<Bar value={$data.health} type="health" />
		<div class="divider" />
		<Skill data={$data.skills.down} effects={$effects}/>
		<div class="divider" />
		<Bar value={$data.mana} type="mana" />
	</div>
</div>

<style>
	.crystalIcon {
		width: 24px;
		border-radius: 50%;
		border: 2px solid red;
	}
	.nameLine {
		display: flex;
		align-items: center;
	}
	.divider {
		min-width: 16px;
	}
	.container {
		background-color: #3a3a3a;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8px;
	}
	.player {
		flex-direction: column-reverse;
	}
	.bars {
		display: flex;
		width: 100%;
		padding-bottom: 8px;
	}
	.name {
		color: white;
		padding: 8px;
		text-transform: uppercase;
	}
</style>
