<script>
	import Skill from '$lib/components/skill.svelte';
	import spells from '$lib/spell/index.js';
	import {fade} from 'svelte/transition'
	import Avatar from '$lib/components/avatar.svelte'
	export let data = {};
	export let effects = {};
	$: console.log($effects, $data)
</script>

<div
	class={`container ${$data.type}`}
	style={`--cast-direction: ${$data.type === 'player' ? '-200px' : '200px'}; --cast-color: ${
		$data.casting?.color || 'white'
	};`}
>
	<div class="avatarContainer">
		<Skill data={$data.skills.left} effects={$effects}/>
		<div
			class="avatarWrapper"
			class:castEnemy={$data.casting?.target === 'enemy'}
			class:castSelf={$data.casting?.target === 'self'}
		>
			<Avatar src={$data.avatar}/>
			{#if $data.activeSpell}
				<div transition:fade={{duration: 300}}>
					<svelte:component this={spells[$data.activeSpell]} />
				</div>
			{/if}
		</div>
		<Skill data={$data.skills.right} effects={$effects}/>
	</div>
	<div><Skill data={$data.skills.up} effects={$effects}/></div>
</div>

<style>
	.avatarWrapper {
		position: relative;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
		box-shadow: 0px 0px 5px white;
		overflow: hidden;
		margin: 16px;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.avatarContainer {
		display: flex;

		align-items: center;
		justify-content: center;
	}
	
	.player {
		flex-direction: column-reverse;
	}
	.castEnemy {
		animation: castEnemy 1s forwards;
	}
	@keyframes castEnemy {
		0% {
			box-shadow: 0px 0px 5px white;
		}

		20% {
			box-shadow: 0px var(--cast-direction) 50px var(--cast-color);
		}

		100% {
			box-shadow: 0px 0px 5px white;
		}
	}
	.castSelf {
		animation: castSelf 1s forwards;
	}
	@keyframes castSelf {
		0% {
			box-shadow: 0px 0px 5px white;
		}

		20% {
			box-shadow: 00px 0px 50px var(--cast-color);
		}

		100% {
			box-shadow: 0px 0px 5px white;
		}
	}
</style>
