<script>
	import CharacterBar from './characterBar.svelte';
	import Character from './character.svelte';
	import { player, enemy, playerGems, enemyGems } from '$lib/store/store.js';
	import Swipe from './swipe.svelte';
	import Log from './log.svelte';
</script>

<CharacterBar data={enemy} effects={enemyGems}/>
<div class="battlefield">
	<Character data={enemy} effects={enemyGems}/>
	<Character data={player} effects={playerGems}/>
</div>
<CharacterBar data={player} effects={playerGems}/>

<Log />
<Swipe />

<style>
	.battlefield {
		background-image: var(--background);
		background-position: center;
		background-size: cover;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
</style>
