<script>
	import { fly, fade } from 'svelte/transition';
	import { log } from '$lib/store/store.js';
</script>

{#if $log.length}
	<div class="container">
		<div class="line first">
			{#if $log[0]}
				<div transition:fly={{ duration: 200, y: -100 }}>{$log[0]}</div>
			{/if}
		</div>
		<div class="line second">
			{#if $log[1]}
				<div transition:fly={{ duration: 200, y: 100 }}>{$log[1] || ''}</div>
			{/if}
		</div>
	</div>
{/if}

<style>
	.container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 40px;
		color: rgba(255, 255, 255, 0.8);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-shadow: black 0px 0 3px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		white-space: pre-line;
		text-align: center;
		z-index: 1;
	}
	.line {
		display: flex;
		flex-grow: 1;
		height: 50%;
		flex-direction: column;
	}
	.first {
		justify-content: flex-end;
	}
	.second {
		justify-content: flex-start;
	}
</style>
