<script>
	import { player } from '$lib/store/store.js';
	let startX;
	let startY;
	let isDragging = false;
	let direction;

	const start = (event) => {
		startX = event.clientX || event.touches[0].clientX;
		startY = event.clientY || event.touches[0].clientY;
		isDragging = true;
		direction = '';
	};

	const move = (event) => {
		//     if (!isDragging) return;
		//     let x = event.clientX || event.touches[0].clientX;
		//     let y = event.clientY || event.touches[0].clientY;
		//     startX = x;
		//     startY = y;
	};

	const end = (event) => {
		if (!isDragging) return;

		let xDiff = startX - (event.clientX || event.changedTouches[0].clientX);
		let yDiff = startY - (event.clientY || event.changedTouches[0].clientY);
		if (Math.abs(xDiff) > 50 || Math.abs(yDiff) > 50) {
			if (Math.abs(xDiff) > Math.abs(yDiff)) {
				if (xDiff > 0) {
					direction = 'left';
					player.useSkill('left');
				} else {
					direction = 'right';
					player.useSkill('right');
				}
			} else {
				if (yDiff > 0) {
					direction = 'up';
					player.useSkill('up');
				} else {
					direction = 'down';
					player.useSkill('down');
				}
			}
		}

		isDragging = false;
		startX = null;
		startY = null;
	};
</script>

<div
	on:mousedown={start}
	on:mousemove={move}
	on:mouseup={end}
	on:touchstart={start}
	on:touchmove={move}
	on:touchend={end}
	on:touchcancel={end}
	style="height: 100vh; width: 100vw"
	class="swipe"
>
	<!-- Swipe or drag in any direction! Detected direction: {direction} -->
</div>

<style>
	.swipe {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 5;
	}
</style>
